.login {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
 .card {
   display: flex;
   flex-direction: column;
   align-items: center; /* bắt đầu căn chỉnh vị trí trung tâm */
   justify-content: center;
   text-align: center; /* căn text*/
 }

.login h1 {
  padding: 16px;
  text-transform: uppercase;
}

.login-form {
  width: 600px;
}

.login-form-forgot {
  float: center;
}

.login-form-button {
  width: 400px;
}

.login-form-button {
  background-color: #84fab0;
}

.login-container {
  width: 100%;
}
