.login {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login h1 {
  padding: 16px;
  text-transform: uppercase;
}

.login-form {
  width: 500px;
}

.login-form-forgot {
  float: center;
}

.login-form-button {
  width: 100%;
}

.login-form-button {
  background-color: #84fab0;
}

.login-container {
  width: 100%;
}
