.register-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: 20px;
  background-image: url('https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  position: relative;
  z-index: 1;
  width: 50%;
  min-width: 600px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 4px;
}
