.gradient-custom-3 {
<<<<<<< HEAD
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('./../../Assets/image/beach1.jpg');
}
.gradient-custom-4 {
  background: #99ffff;

  background: -webkit-linear-gradient(to right, rgb(79, 164, 174), rgba(143, 211, 244, 1));

  background: linear-gradient(to right, rgb(92, 146, 174), rgb(127, 161, 178));
}

.card {
  border-radius: 15px;
  background-color: #0000004d;
}
.form-check label a u:hover {
  color: #99ffff;
}
.end p {
  color: azure;
}
.end p a u:hover {
  color: #99ffff;
}
=======
   
  background: #ffffff;
  }
  .gradient-custom-4 {
 
  background: #84fab0;
  
  
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
  
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  }
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;/*điều chỉnh cách một phần tử HTML hiển thị bên trong khung chứa*/
    z-index: -1;
  }

  .card {
    border-radius: 15px;
    font-family: VNI-Pagon;
  }


  
>>>>>>> 3ea494fa6d46d8363a06fe6419ba525619cd65d7
