.hotelpage {
    position: relative;
    flex-direction: row;
}

.banner-container {
   
    height: 450px;
    background-image: url('../../Assets/image/hotelimg.png');
    padding-bottom: 40px;
    padding-left: 170px;
}

.banner-content {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 30px;
    .smallText {
        font-size: 40px;
    }
    .hotelTitle {
        font-size: 20px;
    }
}

.card-content {
    position: relative;
    width: 870px;
    background-color: #0000004d;
    color: aliceblue;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    .destinationInput{
        margin-bottom: 20px;
        .inputcity {
              border-color: antiquewhite;
              width: 820px;
              height: 60px;
       
        }
        .inputdate {
        margin-right: 30px;
        justify-content: center ;
           .input{
               padding: 0 15px;
            }
            .btn{
                 background-color: rgb(200, 214, 47);
        }

    }
}
}