.pay {
border: 1px solid #ccc;
width: 600px;
height: 650px;;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-top: 20px;
margin-left: 100px;
font-family: 'Times New Roman', Times, serif;
background-color: #ffffff;
}
.pay p {
    margin-top: 20px;
}

.nganhang{
    width: 498px;
    height:60px;
}
.nganhang img {
 border: 1px solid #ccc;
 width: 100%;
 height:90%;
}
.bank-logo {
    display: flex;
    justify-content: space-between; 
  
}
.bank-logo li {
  margin: 0px 10px 0px 0px;
  padding: 10px 0px;
}
.nganhang2 { 
width: 498px;
    height: 60px;  
}
.nganhang img {
    border: 1px solid #ccc;
    width: 100%;
    height: 90%;
}
.bank-logo2 {
    display: flex;
    justify-content: space-between;

}
.bank-logo2 li {
    margin: 0px 10px -30px 0px;
    padding: 10px 0px;
}
.bank-logo2  img {
    border: 1px solid #ccc;
    width: 120px;
    height: 60%;
}
