.manage {
    padding: 20px 30px;
}

.title-manage {
    font-size: 30px;
    margin-bottom: 20px;
}

.grid-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card {
    width: 300px;
    margin: 0 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card-content {
    padding: 10px 20px;
}

.action-card {
    margin-top: 20px;
}

button {
    margin: 0 10px !important;
}