.header {
  width: 1500px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px 0px 150px ; /* tren phai duoi trai padding cua 3 phan tu logo , menu, account-infor */
  margin : 0px 12.2px;
  background-color: #003C71;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 80px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;

}

.menu {
  font-size: 18px;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding:  0px;
}

.menu li {
  display: inline-block;
  margin-right: 25px;
  padding-top: 15px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.menu li a:hover {
  display: inline-block;
  color: #26bed6;
}

.account {
  display: flex;
  align-items: center;
  font-size: 14px;
  color:#fbf8f8;
  padding : 0px 20px 0px 20px;
}

.account {
  display: inline-block;
  align-items: center;
  font-size: 15px;
  
}
.account img {
  width: 32px;
  height: 32px;
  margin-left: 13px;
}

.contact {
  display: inline-block;
  align-items: center;
  color:burlywood;
  font-size: 20px;
  padding: 70px 0px 70px 100px;
}
.contact:hover{
  display: inline-block;
  color: #26bed6;
}
