
.imageContent{
border: 1px solid ;/* tạo dòng kẻ*/
font-family: 'Times New Roman', Times, serif;
background-image: url("https://images.pexels.com/photos/1450082/pexels-photo-1450082.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
   background-size: cover;
   background-position: center;
   width: 100%;
   /* Đảm bảo phần tử div có chiều rộng 100% */
   height: 500px;
   /* Đặt chiều cao của phần tử div */
}
.imageContent h1 {  
   margin-left: 110px;
   margin-bottom: 10px; /*giãn dưới*/
}
.imageContent p {
   margin-left: 110px;
   margin-bottom: 30px;
}

.inf{
  background: #d9d9d9;
   width: 750px;
   height:120px;
   margin-left: auto;
   margin-right: 580px;
   margin-bottom: 50px;
}
.inf input[type="text"] {
   margin-left: 30px;
   margin-top: 10px;
}

.ant-picker-input {
   padding-left: 30px;
}
.ant-picker-input input{
   margin-right: 10px;
}


form1:nth-child(2) {
   display:flex;
   justify-content: space-between;
   margin-top: 20px;
   margin-bottom: 50px;
   
}
.button {
   width: 300px;
   height: 500px;
   padding: 0;
      border: none;
      background: #ffff;
margin-top: 20px;
margin-bottom: 20px;
}
.img {
   width: 100%;
   height:50%;
   position: relative;
      margin-top: -85%;
      /* Điều chỉnh khoảng cách giữa ảnh và nút button */
   
}
.image-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: top;
   justify-content: center;
   
}

.image-text {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: left;
   padding: 190px 0px;
   font-family: 'Times New Roman', Times, serif;
   color: black;
   /* Các kiểu định dạng khác cho văn bản */
  
}
.font {
   padding-right: 100px;
   background-color: #f0f0f0;
}