.tours-grid {
  display: grid;
  gap: 24px;
}

@media only screen and (min-width: 1921px) {
  .tours-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1920px) {
  .tours-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1440px) {
  .tours-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .tours-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .tours-grid {
    grid-template-columns: 1fr;
  }
}
