:root {
  --primary-color: rgb(0, 50, 133);
  --header-height: 54px;
  --footer-height: 254.19px;
  --dark: #001529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

body * {
  font-family: 'Poppins', sans-serif !important;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

h1,
h2,
h3 {
  font-weight: 700;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

/* Lib */
.swal2-container {
  z-index: 9999;
}

/* Customize */
.center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
